REACT_APP_SUPABASE_URL=https://qmmxouhwkmtrpptzoiqp.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFtbXhvdWh3a210cnBwdHpvaXFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE2NjE2OTgsImV4cCI6MjA3NzIzNzY5OH0.TTSLWkrmfkZ835jaHt86K56bXq-SgqW-CNeA_RPEIYU